@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
body {
  padding: 0px 16px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  
}
h1 {
  font-size: 32px;
  font-weight: 500;
}
.container {
  background-color:#F2F2F2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.input-group {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.input-group input {
  margin-bottom: 16px;
  height: 48px;
  font-size: 20px;
  background-color: #eee;
  border-radius: 8px;
  padding: 4px 12px;
}

.result .label {
  font-size: 14px;
  font-weight: 600;
}

.result .result {
  font-size: 30px;
  font-weight: medium;
}

.section .section{
  display: flex;
    justify-content: center;
    margin: 80px 20px;
}
